.product {
    display: flex;
    margin-bottom: 10px;

    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.product .product-details {
    margin-left: 20px;
    font-weight: 400;
}

.product .product-details h3 {
    color: blue;
    font-weight: 200;
}

.main-button {
    outline: none;
    cursor: pointer;
    padding: 5px 40px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: goldenrod;
}